@font-face {
    font-family: 'The name of the Font Family Here';
    src: URL('font.ttf') format('truetype');
  }

  a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
  }
  
  a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
  }

body {
    /* background-color: #060c0f; */
  background-color: #141414;
  color: rgb(164, 164, 164);
  font-family: "Varela Round", "Source Sans Pro", arial, sans-serif;
  font-size: 22px !important;
}

.glow-title {
    font-size: 60px;
    margin: 0;
    position: relative;
    z-index: 3;
    padding: 20px;
    background-color: #141414;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .glow-title.large {
    font-size: 50px;
  }
  @media (min-width: 768px) {
    .glow-title.large {
        font-size: 90px;
      }
  }

h2,
h3,
h4 {
  color: white;
}

.block-text {
  align-self: center;
  text-align: center;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.block-img {
  max-width: 500px;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.my-footer {
  vertical-align: middle;
  padding-top: 24px;
  padding-bottom: 15px;
  background-color: black; /*#020202;*/
  font-size: 15px;
}

.title {
  font-size: 90px;
  padding-top: 30px;
  color: white;
  height: 270px;
}

.top {
  margin-bottom: 50px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.main-div {
  position: relative;
  margin: 10px;
  background-color: transparent;
}

/* sections */

.sec-title {
    font-size: 50px;
    font-weight: 400;
  }

.section:hover .sec-title {
  color: #eee;
}
.section:hover .sec-desc {
  color: #eee;
}

/* YouTube */
.section.you-tube:hover {
  box-shadow: 0px 0px 15px 5px #ff3333dd;
}
.section.you-tube:hover .sec-img {
  color: #ff3333dd;
}
/* dotnet conf */
.section.dotnet-conf:hover {
  box-shadow: 0px 0px 15px 5px #8d2acfdd;
}
.section.dotnet-conf:hover .sec-img {
  color: #8d2acfdd;
}

/* blog */
.section.blog:hover {
  box-shadow: 0px 0px 15px 5px #00ccffdd;
}
.section.blog:hover .sec-img {
  color: #00ffffdd;
}

/* tictactoe */
.section.tictactoe:hover {
  box-shadow: 0px 0px 15px 5px #00ff44aa;
}
.section.tictactoe:hover .sec-img {
  color: #00ff44aa;
}

.sec-title {
    font-size: 50px;
    font-weight: 400;
  }

/* reach out */
.reachout-title {
    font-size: 40px;
    font-weight: 400;
  }
  .reachout-desc {
    font-size: 18px;
  }
  .reachout-code:hover {
      cursor: pointer !important;
  }
  .reachout-code:hover .reachout-img {
      box-shadow: 0px 0px 15px 8px #8d2acfdd;
  }
  .reachout-connect:hover {
      cursor: pointer !important;
  }
  .reachout-connect:hover .reachout-img {
      box-shadow: 0px 0px 15px 8px #00ccffdd;
  }
  .reachout-community:hover {
      cursor: pointer !important;
  }
  .reachout-community:hover .reachout-img {
      box-shadow: 0px 0px 15px 8px #00ff44aa;
  }
.reachout:hover {
    color: white;
}
.reachout-img {
    width: 150px;
  }

@media (min-width: 992px) {
    .sec-title {
        font-size: 80px;
        font-weight: 400;
      }    
}
@media (min-width: 1200px) {
  .reachout-img {
    width: 220px;
  }
}




@media (min-width: 768px) {
    .img-holder {
      min-height: 200px;
    }
  }
  
  @media (min-width: 992px) {  
    .img-holder {
      min-height: 250px;
    }
  }
  

.aboutme-section {
    font-size: 16px;
}
.aboutme-header {
    margin-bottom: 100px;
}

.aboutme-title {
font-size: 30px;
font-weight: 400;
color: white;
}


.main-div1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0 0 17px 3px #00ff22, 0 0 4px 2px #00ff22;
  box-shadow: 0 0 17px 3px #00ff22, 0 0 4px 2px #00ff22;
  z-index: -1;
  -webkit-animation-name: green-shadow;
  animation-name: green-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.main-div1::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
  box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
  z-index: -1;
  -webkit-animation-name: cyan-shadow;
  animation-name: cyan-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.main-div2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 17px 3px #00ff22, 0 0 4px 2px #00ff22;
  box-shadow: 0 0 17px 3px #00ff22, 0 0 4px 2px #00ff22;
  z-index: -1;
  -webkit-animation-name: gradient-shadow;
  animation-name: gradient-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.main-div3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  -webkit-box-shadow: 0 0 17px 3px #00ff22, 0 0 4px 2px #00ff22;
  box-shadow: 0 0 17px 3px #00ff22, 0 0 4px 2px #00ff22;
  z-index: -1;
  -webkit-animation-name: half-green-shadow;
  animation-name: half-green-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.main-div3::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  -webkit-box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
  box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
  z-index: -1;
  -webkit-animation-name: half-cyan-shadow;
  animation-name: half-cyan-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@-webkit-keyframes green-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes green-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@-webkit-keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}

@keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}

@-webkit-keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
    box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
  20% {
    -webkit-box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
    box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
  }
  40% {
    -webkit-box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
    box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
  }
  60% {
    -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
  }
  80% {
    -webkit-box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
    box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
  }
  100% {
    -webkit-box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
    box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
}

@keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
    box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
  20% {
    -webkit-box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
    box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
  }
  40% {
    -webkit-box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
    box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
  }
  60% {
    -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
  }
  80% {
    -webkit-box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
    box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
  }
  100% {
    -webkit-box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
    box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
}

@-webkit-keyframes half-green-shadow {
  0% {
    top: 0;
    left: 0;
    height: 50%;
    width: 50%;
  }
  16.66% {
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
  }
  32.32% {
    top: 0;
    left: 50%;
    height: 50%;
    width: 50%;
  }
  49.98% {
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
  }
  66.64% {
    top: 50%;
    left: 0;
    height: 50%;
    width: 100%;
  }
  83.3% {
    top: 50%;
    left: 0;
    height: 50%;
    width: 50%;
  }
  100% {
    top: 0;
    left: 0;
    height: 50%;
    width: 50%;
  }
}

@keyframes half-green-shadow {
  0% {
    top: 0;
    left: 0;
    height: 50%;
    width: 50%;
  }
  16.66% {
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
  }
  32.32% {
    top: 0;
    left: 50%;
    height: 50%;
    width: 50%;
  }
  49.98% {
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
  }
  66.64% {
    top: 50%;
    left: 0;
    height: 50%;
    width: 100%;
  }
  83.3% {
    top: 50%;
    left: 0;
    height: 50%;
    width: 50%;
  }
  100% {
    top: 0;
    left: 0;
    height: 50%;
    width: 50%;
  }
}

@-webkit-keyframes half-cyan-shadow {
  0% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 50%;
  }
  16.66% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 100%;
  }
  32.32% {
    bottom: 0;
    right: 50%;
    height: 50%;
    width: 50%;
  }
  49.98% {
    bottom: 50%;
    right: 50%;
    height: 50%;
    width: 50%;
  }
  66.64% {
    bottom: 50%;
    right: 0;
    height: 50%;
    width: 100%;
  }
  83.3% {
    bottom: 50%;
    right: 0;
    height: 50%;
    width: 50%;
  }
  100% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 50%;
  }
}

@keyframes half-cyan-shadow {
  0% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 50%;
  }
  16.66% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 100%;
  }
  32.32% {
    bottom: 0;
    right: 50%;
    height: 50%;
    width: 50%;
  }
  49.98% {
    bottom: 50%;
    right: 50%;
    height: 50%;
    width: 50%;
  }
  66.64% {
    bottom: 50%;
    right: 0;
    height: 50%;
    width: 100%;
  }
  83.3% {
    bottom: 50%;
    right: 0;
    height: 50%;
    width: 50%;
  }
  100% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 50%;
  }
}
